@use "./src/globals.scss" as *;

.notes {
    @include flex-column-center;

    height: 100dvh;
    width: 100%;
    padding: 40px 20px;
    padding-bottom: 80vh;

    gap: 25px;

    overflow: hidden auto;
    justify-content: space-between;

    background-color: var(--color3);
    
    .note {
        @include flex-row-center;
        position: relative;
        
        width: 100%;
        padding: 0.5rem 0.4rem 0.5rem 1rem;

        color: white;

        background-color: var(--color5);
        border-radius: 60px;
        box-sizing: border-box;
        cursor: pointer;

        .title-container .header, .title-container .content {
            font-size: clamp(10pt, 3.5vw, 15pt);
        }

        .title-container {
            @include flex-row-center;
            justify-content: start;
            gap: 0.2rem;

            width: 75%;

            margin-right: auto;
            overflow: hidden;
        }


        button {
            @include flex-column-center;
            height: 2.5rem;
            width: 2.5rem;

            background: var(--color3);
            border: 0px;
            border-radius: 50px;

            img {
                height: 70%;
                width: 70%;
            }

            &:hover {
                background-color: red;
                cursor: pointer;
            }
        }

        .edit-date {
            position: absolute;
            
            top: 0;
            left: 0;
            transform: translate(20%, -100%);

            font-size: clamp(7pt, 3.5vw, 11pt);
        }


        &:hover {
            border: 1px solid white;
            transform: scale(1.015);
        }
    }

    .notes-no-found {
        @include flex-column-center;
        height: 100vh;
        width: 100%;

        font-size: clamp(7pt, 3.0vw, 10pt);
        color: white;
    
    }
}