@use "./src/globals.scss" as *;

.auth-page {
    @include flex-column-center;

    height: 100dvh;
    width: 100vw;

    background-color: var(--color5);


    .auth-container {
        @include flex-column-center;
        position: relative;

        width: 20vw;
        min-width: 290px;
        
        padding: 2rem 0.5rem;
        padding-top: 80px;
        
        gap: 2rem;
        
        background-color: var(--color5);
        color: white;

        border: 5px solid var(--color3);
        border-radius: 4px;

        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

        .hexagon-1 {
            @include flex-column-center;

            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 95px;
            height: 95px;
            background-color: var(--color3);
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            padding: 10px;


            .hexagon-2 {
                @include flex-column-center;

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 85px;
                height: 85px;
                background-color: var(--color5);
                clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
                padding: 10px;

                .auth-logo {
                    height: 90%;
                    width: 90%;
            
                    @media (max-height: 650px) {
                        display: none;
                    }
                }
            }
        }

        .auth-form {
            @include flex-column-center;
            width: 100%;

            flex-grow: 1;
            gap: 2rem;

            .imput-container {
                @include flex-column-center;
                width: 80%;
                gap: 0.5rem;

                .form-label {
                    margin-right: auto;
                    padding-left: 10px;
                }

                .form-input {
                    width: 100%;
                    height: 2rem;

                    padding: 1.1rem 0.8rem;

                    border: 4px solid var(--color3);
                    border-radius: 16px;

                    background-color: rgb(221, 231, 249);
                }
            }

            .controls {
                @include flex-row-center;
                width: 80%;
                gap: 1rem;

                flex-direction: row-reverse;  
            }
        }
    }

    .form-btn {
        width: 50%;
        height: 2.5rem;

        border: 0px;
        border-radius: 16px;

        border-width: 0 0 4px 0px;
        border-style: solid;
        border-color: var(--color7);
        background-color: var(--color6);
        color: white;
    
        &:hover {
            border-width: 0 0 6px;
            filter: opacity(0.95);
        }
    }

    .form-submit-btn {
        border-width: 0 0 4px 0px;
        border-style: solid;
        border-color: var(--color2);
        background-color: var(--color3);

        &:hover {
            border-width: 0 0 6px;
            filter: opacity(0.95);
        }

    }

    .error-text {
        color: red;
        text-align: center;
    }
}